table,
th,
td {
  border: thin solid #ddd;
}
img {
  width: 150px;
}
td,
th {
  padding: 10px;
}

body {
  margin: 30px;
}

.label {
  background-color: #1f618d;
  color: #fff;
}

.title {
  background-color: #eee;
}

table {
  width: 80%;
  margin: auto;
}

span {
  color: #c0392b;
}
